<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<th:block th:replace="fragments :: headMain(${routeName})"></th:block>
	
	<body>
		<div class="main-container container-fluid bg-light" >
		
			<!-- Header --> 
			<th:block th:replace="fragments :: header()"></th:block>
	
			<div th:if="${!obj.isEmpty()}" class="container-app px-5 py-3 row justify-content-center align-items-stretch flex-nowrap" >
				
				<!-- Aside NavBar --> 
				<th:block th:replace="fragments :: asideNav(${routeName})"></th:block>
				
				<main class="col-9">
				
					<!--  main title -->
					<th:block th:replace="fragments :: mainTitle(${routeName})"></th:block>  
					
					<!-- Validation msg -->
					<th:block th:replace="fragments :: successMsg(${successMsg})"></th:block>

				
					<table 
						   class="py-3 table table-dark table-striped text-start">
						<thead>
							<tr style="position:sticky;top:0;width:100%;border-bottom:1px solid #fff;transition:all 0.5s linear;">
								<th>Nome</th>
								<th>Descrizione</th>
								<th>Promozione</th>
								<th class="text-start">Prezzo</th>
								<th colspan="3" class="text-center" th:if="${type} == 'display'">Azioni:</th>
							</tr>
						</thead>
						<tbody>		
							<tr th:each="drink : ${obj}" th:object="${drink}">			 
								<td class="text-capitalize" th:text="*{name}"></td>
								<td class="text-capitalize" th:text="*{description}"></td>
								<td th:each="promo : ${drink.getPromotion()}">[[${drink.getPromotion().name}]]</td>
								<td style="width:15%" th:text="*{price} +  ' &euro;'"></td>
								
								<span th:if="${type} == 'display'">
									<td style="width:10%">
					 					<a class="btn btn-primary" th:href="@{'/' + ${objNm} + '/{id}' (id=${drink.id})}">Dettagli</a> 
									</td>
									<td style="width:10%">
										<a th:href="@{'/' + ${objNm} + '/update/{id}'(id=${drink.id})}" class="btn btn-success">Modifica</a>
									</td>
									<td  style="width:10%">
										<a th:href="@{'/' + ${objNm} + '/delete/{id}'(id=${drink.id})}" class="btn btn-danger">Elimina</a>
									</td>
								</span>
							
							</tr>
						</tbody>
					</table> 

				</main>	
			</div>		
			
			<h2 th:if="${obj.isEmpty()}">Nessuna prodotto presente</h2>
		</div>
					
		<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>	
	</body>
</html>